<div class="fields-container">
  <h1>Sign in</h1>
  <%= form_for(:session, url: login_path, html: {class: "form-signin"}) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

    <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
  <%= link_to "Sign up", new_user_path, class: 'btn btn-lg btn-secondary btn-block' %>
</div>
